.google-header {
  width: 100%;
  max-height: 200px;
  float: right;
  font-family: sans-serif;
}

.google-header img {
  max-width: 100%;
  border-radius: 50%;
}

.img {
  border-radius: 50%;
  width: 32px;
  float: right;
  margin-right: 15px;
  margin-top: 20px;
  cursor: pointer;
  margin-top: 24px;
}

.img:hover {
  background-color: rgb(9, 77, 146);
  background-size: 34px;
}

.header-icons {
  float: right;
  width: 200px;
  margin-top: 28px;
  margin-right: 10px;
}

.header-icons .material-icons {
  font-size: 25px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-icons .material-icons:hover {
  background-color: rgb(134, 133, 133);
  border-radius: 50%;
  transform: scale(1.4);
}

.header-icons a {
  float: right;
  margin-right: 15px;
  color: rgb(53, 52, 52);
  text-decoration: none;
  font-size: 14px;
}

.header-icons a:hover {
  color: gray;
}

.google-search{
    align-content: center;
}
